.project-img {
    height: 200px;
    width: 400px;
}

.site {
    float: right;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-between;
    align-self: center;
    justify-self: center;
    margin-top: 10px;
    margin-bottom: 10px;

}

.cardP {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-link {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.store-card {
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: 350px;
    text-align: center;
    border: 5px groove;
    flex-wrap: wrap;
}

.video {
  width: 100%;
  min-width: 200px;
}