
.logo {
    height: 100px;
    width: 150px;
    min-width: 20px;
    min-height: 25px;
    padding: 5px;
}
.logo-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    min-width: 200px; 
    justify-content: center;
    align-items: center; 
    padding: 1rem;
}

label {
    font-size: 17px;
    font-weight: bold;
    min-width: 20px;
}

.skill-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: 393px;
    justify-content: space-evenly;
    gap: 5px;
}

h3 {
    font-size: 25px;
}

.axios {
    width: 180px;
    min-width: 30px;
}

.express {
    width: 180px;
    min-width: 30px;
}


.logo-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 20px;
    flex-wrap: wrap;
} 

.skill-title {
    text-align: center;
    width: 100%;
    min-width: 393px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.know-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 150px;
    height: 50px;
    font-size: 15px;
    background-color:black;
    color: white;
}

.know-btn:hover {
    background-color: white;
    color: black;
}

.know-btn-container {
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-content: center;
    align-self: center;
    width: 100%;
}

.front-end {
    min-width: 196px;
    width: 50%;
    border: 10px groove;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
} 

.back-end {
    min-width: 196px;
    width: 50%;
    display: flex;
    border: 10px groove;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
} 


 .skill-main {
    width: 100%;
    min-width: 393px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 