
.logo {
    height: 100px;
    width: 150px;
    padding: 10px;
}
.logo-container {
    width: 100%;
    min-width: 280px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
   border: 10px groove;
   padding: 1rem;
}

label {
    font-size: 17px;
    font-weight: bold;
    padding: 5px;
}

.skill-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;



}

h3 {
    font-size: 25px;
}



.axios {
    width: 180px;

}

.express {
    width: 180px;
}


.logo-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill-title {
    text-align: center;
}

.know-btn {
    width: 250px;
    height: 100px;
    border-radius: 50%;
    font-size: 25px;
    background-color:black;
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}

.know-btn:hover {
    background-color: white;
    color: black;
}

.know-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}