
.logo {
    height: 100px;
    width: 150px;
    min-width: 50px;
    padding: 10px;
}
.logo-container {
    width: 100%;
    /* min-width: 390px; */
    display: flex;

   padding: 1rem;
}

label {
    font-size: 17px;
    font-weight: bold;
    padding: 5px;
}

.skill-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    min-width: 393px;
    justify-content: space-between;
   /* justify-self: center;
   align-self: center; */

 


}

h3 {
    font-size: 25px;
}



.axios {
    width: 180px;

}

.express {
    width: 180px;
}


.logo-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
  

}

.skill-title {
    text-align: center;
    width: 100%;
    min-width: 393px;
    margin-bottom: 10px;
}

.know-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 80px;
    font-size: 20px;
    background-color:black;
    color: white;
 
}

.know-btn:hover {
    background-color: white;
    color: black;
}

.know-btn-container {
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-content: center;
    align-self: center;
    width: 100%;
  
    /* min-width: 390px; */
   
}

.front-end {
    min-width: 390px;
    border: 10px groove;
}

.back-end {
    min-width: 390px;
    border: 10px groove;
}

.end {
    display: flex;
    justify-content: center;
    align-items: center;
}

 .skill-main {
    width: 100%;
    min-width: 393px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 