.about {
    color: black;
    font-size: 24px;
    display: flex;
    flex-direction: column; 
     height: 55vh;
    width: 50%;
    align-items: center;
    border: 10px groove;
    background-color: whitesmoke;
    text-align: center;
    padding: 15px;
    overflow:scroll;

}


.about-container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    width: 100%;
    min-width: 390px;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
   
}

   .carousel-container {
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border: 10px groove;
    text-align: center;
    margin: 15px;
    background-color: white;
    /* margin-top: 20px;
    margin-bottom: 20px; */
    width: 40%; 
    /* height: 600px; */
    min-width: 350px !important;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    /* align-items: center; */
   }

   .carousel-title {
    font-size: 40px;
    text-align: center;
   }

   .carousel-img {
    width: 100%;
    min-width: 50px;

    min-height: 500px; 
    border: 5px groove;
   }

   .carousel-label {
    font-size: 25px;
    font-weight: bold;
    color: black;
}

.carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}