.about {
    color: whitesmoke;
    font-size: 24px;
    display: flex;
    flex-direction: column; 
    width: 50%;
    min-width: 390px;
    align-items: center;
    box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.5);
    border: 1px groove;
    border-radius: 14px;
    background-color: inherit;
    text-align: center;
    padding: 15px;
    overflow:scroll;

}


.about-container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    width: 100vw;
    /* height: 100vh; */
    min-width: 390px;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

.carousel-container {
    padding: 1rem;
    box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.5);
    border: 1px groove;
    text-align: center;
    border-radius: 14px;
    margin: 15px;
    background-color: inherit;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 40%; 
    min-width: 390px !important;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.carousel-title {
    font-size: 40px;
    text-align: center;
    color: whitesmoke;
}

.carousel-img {
    width: 100%;
    min-width: 50px;
    box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.5);
    border: 1px groove;
    border-radius: 14px;
    min-height: 500px; 
    
}

.carousel-label {
    font-size: 25px;
    color: whitesmoke;
    margin-top: 2px;
}

.carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

