.about {
    color: black;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    height: 55vh;
    width: 50vw;
    align-items: center;
    float: right;
    border: 10px groove;
    background-color: whitesmoke;
    text-align: center;
    padding: 15px;
    margin-top: 45px;
    margin-right: 45px;
    overflow:scroll;
    z-index: 95;
}
.carousel {
    height: '160px';
    color: '#fff';
    line-height: '160px';
    text-align: 'center';
    background: '#364d79';
   margin-top: 50%;
   margin-left: 15%;
   z-index: 90;
  
}
.carousel-img {
    height: 450px;
    width: 530px;
    border: 10px groove;
    z-index: 91;

}

.resume {
    display: flex;
    flex-direction: row;
    float: right;
    margin-right: 10%;
    align-items: center;
    margin-top: -10%;
  
}

.resume-link {
    font-size: 40px;
    margin: 5px;
}