.contacts {
    height: 50px;
    width: 50px;
    margin-left: 30px;
}


.card {
    padding: 1rem;
    box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.5);
    border-radius: 14px;
    border: 1px groove;
    text-align: center;
    background-color: inherit;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    min-width: 390px !important;
    color: whitesmoke;
    font-size: 21px;
}

.linked {
    margin-left: 10px;
}


.contact-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-items: center;
    align-self: center;
    align-items: center;
    justify-self: center;
    width: 100%;
    min-width: 390px; 
    margin-top: 100px;
    margin-bottom: 100px;
 
} 

.resume-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 350px;
    width: 100%;
    background-color: inherit;
    color: whitesmoke;

   
}